{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}<title>Gilson #DEV</title>{% endblock title %}

    {% block styles %}
        <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock styles %}


    <script src="{% static 'js/chart.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#hello">
            <img src="{% static 'img/logo.png' %}" alt="" width="48" height="48">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="#who">O que eu faço?</a></li>
              <li><a href="#portfolio">Últimos Trabalhos</a></li>
              <li><a href="#skills">Habilidades</a></li>
              <li><a href="http://gilsondev.github.io">Blog</a></li>
              <li><a href="#social">Contato</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block main %}{% endblock main %}

    <div id="f">
        <div class="container">
            <div class="row">
                <p>&copy; Gilson #DEV - 2014</p>
            </div>
        </div>
    </div>

    {% block scripts %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/home.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>
