Django==1.4.3
South==0.7.6
django-debug-toolbar==0.9.4
psycopg2==2.4.6
Unipath==0.2.1
dj-database-url==0.2.1
django-compressor==1.2
ipython==0.13.1
ipdb==0.7
sorl-thumbnail==11.12
django-tagging-ng==0.3.3
Pillow==1.7.8
honcho==0.2.0
