{% load compress %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta %}

    {% block styles %}
        {% if debug %}
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
            <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" rel="stylesheet/less" type="text/css">
            <link href="{{ STATIC_URL }}bootstrap/less/responsive.less" rel="stylesheet/less" type="text/css">
            <link href="{{ STATIC_URL }}less/style.less" rel="stylesheet/less" type="text/css">
            <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
        {% else %}
            {% compress css %}
                <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
                <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" rel="stylesheet/less" type="text/css">
                <link href="{{ STATIC_URL }}bootstrap/less/responsive.less" rel="stylesheet/less" type="text/css">
                <link href="{{ STATIC_URL }}less/style.less" rel="stylesheet/less" type="text/css">
            {% endcompress %}
        {% endif %}
    {% endblock styles %}

    {% block title %}
        <title>Gilson #DEV</title>
    {% endblock title %}
</head>
<body>
    <div class="container">
        <div class="rows">
            <div class="span3 profile">
                <div class="span3">
                    <h1>Gilson Filho</h1>
                </div>
                <div class="span3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in possimus consequatur ex perspiciatis deserunt ipsum asperiores laboriosam iusto commodi ratione vitae architecto omnis soluta sed incidunt eum nesciunt velit.</p>
                </div>
            </div>
            <div class="span8">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3>Blog</h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info">
                                <h3>Porftólio</h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info">
                                <h3>Labs</h3>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-4">
                            <div class="ch-info">
                                <h3>Favoritos</h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-5">
                            <div class="ch-info">
                                <h3>Palestras</h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-6">
                            <div class="ch-info">
                                <h3>Contato</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
    {% endblock scripts %}
</body>
</html>
