{% extends "core/base.html" %}

{% block meta %}
    <meta name="description" content="">
    <meta name="author" content="Gilson Filho">
{% endblock meta %}

{% block content %}
    <div class="rows">
        <div class="span3 profile">
            <div class="span3">
                <h1>Gilson Filho</h1>
            </div>
            <div class="span3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in possimus consequatur ex perspiciatis deserunt ipsum asperiores laboriosam iusto commodi ratione vitae architecto omnis soluta sed incidunt eum nesciunt velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in possimus consequatur ex perspiciatis deserunt ipsum asperiores laboriosam iusto commodi ratione vitae architecto omnis soluta sed incidunt eum nesciunt velit.</p>
            </div>
            <div class="span3">
                <ul class="nav nav-pills">
                    <li><a href="http://twitter.com/gilsonfilho"><img src="{{ STATIC_URL }}img/social/twitter.png" /></a></li>
                    <li><a href="http://br.linkedin.com/in/gilsonfilho"><img src="{{ STATIC_URL }}img/social/linkedin.png" /></a></li>
                    <li><a href="http://github.com/gilsondev"><img src="{{ STATIC_URL }}img/social/github.png" /></a></li>
                    <li><a href="http://vimeo.com/gilsonfilho"><img src="{{ STATIC_URL }}img/social/vimeo.png" /></a></li>
                    <li><a href="http://flickr.com/photos/gilsonfilho"><img src="{{ STATIC_URL }}img/social/flickr.png" /></a></li>
                </ul>
            </div>
            <div class="span3 briefing-button">
                <a href="#" class="btn btn-large btn-primary">O que você precisa?</a>
            </div>
        </div>
        <div class="span8 menu">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <a href="http://blog.gilsondev.com"><h3>Blog</h3></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <a href="{% url portfolios %}"><h3>Porftólio</h3></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <a href="#"><h3>Labs</h3></a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <a href="#"><h3>Favoritos</h3></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-5">
                        <div class="ch-info">
                            <a href="#"><h3>Palestras</h3></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-6">
                        <div class="ch-info">
                            <a href="#"><h3>Contato</h3></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
