{% extends "core/base_pages.html" %}
{% load compress %}
{% load thumbnail %}

{% block styles %}
    {{ block.super }}
    {% if debug %}
        <link href="{{ STATIC_URL }}less/portfolio.less" rel="stylesheet/less" type="text/css">
        <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
    {% else %}
        {% compress css %}
            <link href="{{ STATIC_URL }}less/portfolio.less" rel="stylesheet/less" type="text/css">
        {% endcompress %}
    {% endif %}
{% endblock styles %}

{% block meta %}

{% endblock meta %}

{% block content %}
    <h2>Portfólio</h2>
    <div class="row">
        <ul class="thumbnails">
            {% for portfolio in portfolios %}
                <li class="span3">
                    <div class="thumbnail">
                        {% thumbnail portfolio.imagem "300x200" as imagem %}
                            <div class="portfolio-image">
                                <a href="{{ portfolio.url }}"><img src="{{ imagem.url }}" alt="Imagem do Projeto" /></a>
                            </div>
                        {% endthumbnail %}
                        <div class="caption">
                            <a href="{{ portfolio.url }}">
                                <h4>{{ portfolio.nome }}</h4>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
